@model Example.Models.ListaPorukaViewModel

<table class="table" style="font-size:18px;">

    @foreach (var m in Model.ListaPoruka)
    {
        <tr>
            <td>
                <img src="~/Content/pismo.jpg"  style="width:40px;height:40px;">
                @Html.ActionLink(m.Salje.Ime + " " + m.Salje.Prezime + ", "+m.Primalac.Ime + " " + m.Primalac.Prezime , "ProcitajPoruku", new { IDClanaKomore1 = m.Salje.IDClanaKomore, IDClanaKomore2 = m.Primalac.IDClanaKomore })

            </td>
        </tr>

    }
</table>

