@model ICollection<Example.Models.Poruka>
@{
    ViewBag.Title = "Procitaj";
}

<h2>Detalji poruke:</h2>


@foreach (var m in Model)
{
    <div>

        <div style="background-color: rgb(150,150,150); color: blue;">@m.Tekst</div>
        <div>
            <!--if(m.Salje == null)
            {
                (prazna = m);
            }
            -->
        </div>
    </div>
}
@Html.ActionLink("Nova poruka", "NovaPoruka", "Poruka", new { PrimalacIDClanaKomore = Model.First().Primalac.IDClanaKomore })</li>

<!--    using (Html.BeginForm("NovaPoruka2", "Poruka", FormMethod.Post))
    {
        <div>
            Html.LabelFor(p => prazna.Tekst)
            Html.TextAreaFor(p => prazna.Tekst)
            Html.ValidationMessageFor(p => prazna.Tekst)
        </div>
        <div>
            <input type="submit" value="Send" />
        </div>
    }

</div>
-->
