@model ICollection<Example.Models.Poruka>
@{
    ViewBag.Title = "Proèitaj";
}

<h2>Detalji poruke:</h2>


@foreach (var m in Model)
{
    <div>

        <div style="background-color: rgb(150,150,150); color: blue;">@m.Tekst</div>
      
    </div>
}
@Html.ActionLink("Nova poruka", "NovaPoruka", "Poruka", new { PrimalacIDClanaKomore = Model.First().Primalac.IDClanaKomore })</li>

