@{
    ViewBag.Title = "Index";
}

<h2>Objave</h2>


<ul id="meniobjave">
    <li>
        @Html.ActionLink("Nova objava", "NovaObjava", "Objava")

    </li>
    <li>
        @Html.ActionLink("Sve objave", "SveObjave", "Objava")


    </li>
</ul>