
@{
    ViewBag.Title = "Index";
}

<ul>
    <li>
        @Html.ActionLink("Nova objava","NovaObjava","Objava")

    </li>
    <li>
        @Html.ActionLink("Sve objave", "SveObjave", "Objava")


    </li>
</ul>