@{
    ViewBag.Title = "Upravljanje nalozima stomatologa";
}

<h2>Upravljanje nalozima stomatologa</h2>

<ul id="menu">
    <li>@Html.ActionLink("Dodaj stomatološki nalog", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Pretraga i izmena naloga stomatologa", "Pretraga", "Stomatolog", routeValues: null, htmlAttributes: new { id = "pretragaStomatologa" })</li>
</ul>