@{
    ViewBag.Title = "Upravljanje kartonima";
}

<h2>Upravljanje kartonima</h2>

<ul id="menu1">
    <li>@Html.ActionLink("Dodaj karton", "DodajKarton", "Karton")</li>
    <li>@Html.ActionLink("Pretraga i izmena kartona", "Pretraga")</li>
</ul>

