@{
    ViewBag.Title = "Admin";
}


<h2>Welcome to Stomatolog (admin)</h2>
<h3>Choose one of the following:</h3>
<ul id="menu">
    <li>@Html.ActionLink("Upravljanje ordinacijama", "Index", "Ordinacija", routeValues: null, htmlAttributes: new { id = "upravljanjeOrdinacijama" })</li>
    <li>@Html.ActionLink("Upravljanje nalozima stomatologa", "Index", "Stomatolog", routeValues: null, htmlAttributes: new { id = "upravljanjeStomatolozima" })</li>
</ul>

