@model Example.Models.IzborGradaViewModel
@{
    ViewBag.Title = "Poèetna strana";
}

<h2>Dobrodošli na sajt stomatoloških ordinacija</h2>
<div>
    <div>
        @using (Ajax.BeginForm("RefreshList", "Home", new AjaxOptions()
        {
            UpdateTargetId = "izabraneordinacije",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST"

        }))
        {
            @Html.LabelFor(m => m.Grad)
            @Html.DropDownList("Grad", new List<SelectListItem>
   {
       new SelectListItem {Text = "Svi gradovi", Value = "Svi gradovi", Selected = true},
       new SelectListItem {Text = "Beograd", Value = "Beograd"},
       new SelectListItem {Text = "Novi Sad", Value = "Novi Sad"},
       new SelectListItem {Text = "Kragujevac", Value = "Kragujevac"},
       new SelectListItem {Text = "Niš", Value = "Niš"},
       new SelectListItem {Text = "Ostali gradovi", Value = "Ostali gradovi"}


   })
            @Html.ValidationMessageFor(m => m.Grad)

            <div>
            </div>
        }
    </div>
</div>
<div id="izabraneordinacije">
    @Html.Partial("_PrikazOrdinacija", Model)
</div>

@section scripts {
    <script type="text/javascript">
        $("#Grad").change(function (event) {
            // $(this).parents("form").submit();

            // Moze i ovako, efekat je isti, ali je fleksibilnije, jer direktno
            // koristimo JQuery.ajax() metodu.
            $.ajax($(this).parents("form").attr("action"), {
                // submit-uju se parametri koji se pokupe iz forme
                data: { Grad: $("#Grad").val() },
                method: "POST",
                // izvrsava se ako zahtev uspe
                success: function (data, status, xhr) {
                    $("#izabraneordinacije").html(data);
                },
                // izvrsava se ako se dogodi neka greska
                error: function (xhr, status, err) {
                    $("#izabraneordinacije").text(err);
                },
                dataType: "html"
            });
        });
    </script>
}




