@{
    ViewBag.Title = "Start page";
}

<h2>Welcome to Stomatolog (Employee: @ViewBag.Ime )</h2>
<h3>Choose one of the following:</h3>
<ul id="menu1">
    <li>@Html.ActionLink("Upravljanje kartonima", "Index", "Karton", routeValues: null, htmlAttributes: new { id = "upravljanjeKartonima" })</li>
</ul>

