@{
    ViewBag.Title = "Upravljanje ordinacijama";
}

<h2>Upravljanje ordinacijama</h2>

<ul id="menu">
    <li>@Html.ActionLink("Dodaj ordinaciju", "DodajOrdinaciju", "Ordinacija", routeValues: null, htmlAttributes: new { id = "dodajNovuOrdinaciju" })</li>
    <li>@Html.ActionLink("Pretraga i izmena ordinacija", "Pretraga", "Ordinacija", routeValues: null, htmlAttributes: new { id = "pretragaOrdinacija" })</li>
</ul>

